* {
    font-family: fantasy;
}



body {
    font-size: 20px;
}

#first {
    color: red;
}

.purple {
    color: purple;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.red {
    font-weight: bolder;
    background-color: rgb(162, 177, 162);
    font-style: italic;
}